<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="RestaurantEntities" connectionString="metadata=res://*/OkModel.csdl|res://*/OkModel.ssdl|res://*/OkModel.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=';Data Source=|DataDirectory|\Feria.sdf';" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>